div{
    border: 5px solid black;
    padding: 30px;
    margin: 30px;
    text-align: center;
    background-color: white;
}

.static{
    position: static;
}

.fixed{
    position: fixed;
    right: 0;
    top: 0;
    margin: 0px 0px;
}

.relative{
    position: relative;
    height: 300px;
    text-align: center;
    padding: 100px;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}